<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="flex space-x-12">
    <%= link_to new_partners_path, class: "block text-center" do %>
      <button class="w-40 h-40 bg-red-500 text-white rounded-lg shadow-lg hover:bg-red-600 transition duration-300">
        Registrar Novas Habitualidades
      </button>
    <% end %>

    <%= link_to new_event_path(older_practice: true), class: "block text-center" do %>
      <button class="w-40 h-40 bg-green-500 text-white rounded-lg shadow-lg hover:bg-green-600 transition duration-300">
        Registrar Habitualidade Anteriores
      </button>
    <% end %>

    <%= link_to filter_events_path, class: "block text-center" do %>
      <button class="w-40 h-40 border-2 border-red-500 bg-white text-black rounded-lg shadow-lg hover:bg-red-100 transition duration-300">
        Gerar PDF
      </button>
    <% end %>
  </div>
</div>